@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {margin: 0;padding: 0;}body{ font-family: 'Poppins', sans-serif;line-height: normal} img{width: 100%;height:auto}p{font-size: 16px;margin-bottom: 15px}
h2{font-size: 30px;margin-bottom: 10px}h6{font-size: 14px;font-weight: 400;}.gp{gap:20px}.txt-cen{text-align: center}
.gr2tr-wrap{max-width: 90%;margin: auto}.gr2tr-flx{display: flex}.gr2tr-al{align-items: center}.gr2tr-jus{justify-content: space-between}.pd{padding:50px 0} a{text-decoration: none} ul li{list-style: none;}
/* button */
.gr2tr-button-50- {
  appearance: button;
    background-color: #fff;
    background-image: none;
    border: 0;
    border-radius: 4px;
   
    color: #000;
    cursor: pointer;
    display: inline-block;
   
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    
    user-select: none;
    
    vertical-align: middle;
    white-space: nowrap;

}

.gr2tr-button-50-:focus {
  text-decoration: none;
}

.gr2tr-button-50-:hover {
  text-decoration: none;
}

.gr2tr-button-50-:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.gr2tr-button-50-:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .gr2tr-button-50- {
    padding: 12px 30px;
  }
}
/*---footer----*/
/*---footer----*/


header {
    padding-top: 20px;
    padding-bottom: 15px;
}header img{max-width: 230px} header ul li{padding: 10px}  header a{font-size: 16px;color:#fff}.gr2tr-hero{background:#a1c0d5;padding:0 0 30px;color: #fff; font-weight: 600;}
header ul a:hover{text-decoration:underline;color: #f59f1b;}
.gr2tr-hero-inf h2{font-size: 45px;font-weight: 700;font-style: italic;}
.gr2tr-hero-inf{flex: 50%}

    .gr2tr-toys-categ-bx {
    width: 25%;text-align: center
}.gr2tr-toys-categ-bx img {
    max-width: 60px;
}
.gr2tr-btn {max-width: 30%;padding: 15px;text-align: center;background: #000;transition: 0.3s ease;}.gr2tr-btn a {color: #fff;font-weight: 600;}.gr2tr-btn:hover{background: #000;color: #fff;border: 1px solid #000}.bnm-50{width: 50%}
.gr2tr-prd-bx {flex: 27.5%;text-align: center}
.gr2tr-prd-bx img {max-width: 100%;}
.gr2tr-prd-bx1{flex: 60%}.gr2tr-prd-bx1-25{flex: 25%}
.gr2tr-prd-bx22{flex:45%;background-image:url(../images/banner-1.webp);background-repeat: no-repeat;
    padding: 150px 117px;
    background-position: center;
    border-radius: 4px;
    background-size: cover;}
.gr2tr-fets{max-width: 600px;margin: auto;text-align: center;color: #fff}
.gr2tr-fets-hjk1{flex: 50%}
.gr2tr-prd-bt {max-width: 50%;
    padding: 15px;
    text-align: center;
    border: 1px solid #fff;
    color: #000;
    background: #000000;
    border-radius: 3px;
    font-size: 14px;
    margin: 0 auto 20px;
    color: #fff;
    border-radius: 5px;}
.gr2tr-prd-bt a {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}.g-gall{flex:20%}
.gr2tr-prd-bt:hover{background: #da6b07;border:2px solid #fff;color: #fff} .gr2tr-prd-bt a:hover{color: #fff}
.gr2tr-ft-bx{flex:33.3%}.gr2tr-ft-bx ul li {color: #000;}


.product {text-align: center;}

.thumbnail {margin: 0 5px;cursor: pointer;border: 2px solid transparent;}.thumbnails img{display:inline-flex;max-width:110px;}.thumbnail:hover {border-color: #333;}.product img{max-width: 600px;}.gr2tr-abtn{
    max-width: 40%;
    background-color: #000;
    text-align: center;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
   padding: 15px;
    font-size: 18px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}.gr2tr-mid li{font-size: 16px;}
.gr2tr-flex-60{flex: 60%}.gr2tr-flex-40{flex: 40%}.gr2tr-flex-15{flex:25%}.prd-del ul li {list-style-type: disclosure-closed;margin-left: 35px;margin-bottom: 10px;}.gr2tr-flex-40 ul li {list-style-type: disc;margin-left: 35px;}.gr2tr-scd {
    background-image: url(../images/secd-bg.webp);background-repeat: no-repeat;background-size: cover;padding: 100px 0;background-position: center;
   
}
.cnt li{list-style: circle}
.gr2tr-prd-bx-uit{font-size: 15px;margin-top: 20px} .gr2tr-prd-bx-uit2{font-size: 12px} 
.prd-list li{list-style-type: decimal;
    margin-left: 30px;
    line-height: 1.8;}footer{background: #a1c0d5;padding: 30px 0;}
input[type=text], select, textarea {
  width: 100%; padding: 12px; border: 1px solid #ccc; border-radius: 4px;  box-sizing: border-box; margin-top: 6px;margin-bottom: 16px; resize: vertical;}input[type=submit] { background-color: #04AA6D; color: white; padding: 12px 20px; border: none; border-radius: 4px; cursor: pointer;}

input[type=submit]:hover {background-color: #45a049;}
@media screen and (max-width: 768px) {.gr2tr-prd-bx22{background-size: contain;padding: 100px 117px;}.bnm-50{width: 100%}.gr2tr-toys-categ-bx {width: 100%;}.gr2tr-fets{text-align: center}.gr2tr-hero{padding:80px 20px}.mb-menu{display:none}.gr2tr-col{flex-direction:column}.od{order: 2}.gr2tr-mb-txt{text-align: center}.gr2tr-mt{margin-top: 20px}.gr2tr-hero-inf h2 {font-size: 30px;}.gr2tr-btn{margin: auto;max-width: 100%}.gr2tr-fets-bx{border: 0 !important}.gr2tr-prd-bt{max-width: 100%;margin: 0 10px 10px;}.gr2tr-prd-bx{text-align: center}.gr2tr-col-rev{flex-direction: column-reverse}.prd-h1{font-size: 22px  !important }.gr2tr-abtn{max-width: 100%}.gr2tr-hero-inf {
    max-width: 100%;
    text-align: center;
    }.md-cen{text-align: center}}
	
 .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px; 
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
	
 .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px; 
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
	 .gr2tr-prd-bx{
		 border:1px solid #4acd;
	 }